{% import _self as forms %}
{% extends "layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}
{% block title %}Sites{% endblock %}
{% block active_item_sites %}active_item{% endblock %}
{% block content %}
    <div id="nav_menu" class="ui tiny menu">
        <div class="left menu">
            <a class="item" href="">Home</a>
            <div class="item" style="padding-left: 0; padding-right: 0;"><i class="small right chevron icon divider"></i></div>
            <div class="item">Sites</div>
        </div>
    </div>
    <div class='ui fluid card' style="box-shadow: none;">
        <div class="ui top attached stackable pointing secondary tabular menu site_map_list_content_menu">
            <a class="map popup icon item" data-content="Show as a map" data-tab="map">
                <i class="map icon"></i>
            </a>
            <a class="th list popup icon active item" data-content="Show as a list" data-tab="list">
                <i class="th list icon"></i>
            </a>
        </div>
        <div class="ui tab segmen site_map_list_contentt" data-tab="map">
        </div>
        <div class="ui active tab segment site_map_list_content" data-tab="list">
            <div class="ui right floated basic icon buttons" style="margin-bottom: 5px;">
                <a class="ui button" data-content="Import an Excel file"><i class="upload icon"></i></a>
                <a class="ui button" data-content="Download as Excel file"><i class="download icon"></i></a>
            </div>
            <table class="ui celled small table">
                <thead>
                    <tr><th>T-Number</th>
                        <th>Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>City</th>
                        <th>Type</th>
                        <th><i class="linkify icon"></i> Nodal link</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {%if sites%}
                    <tbody>
                        {%for site in sites%}
                            <tr id="site_{{site.id}}">
                                <td>{{site.tNumber}}</td>
                                <td>{{site.siteName}}</td>
                                <td>{{site.latitude}}</td>
                                <td>{{site.longitude}}</td>
                                <td>{{site.siteCity}}</td>
                                <td>{{site.siteType|site_type}}</td>
                                <td>{%if site.siteType == 1 %} {%if site.nodalSite %} {{ site.nodalSite.siteName}} {%endif %} {%endif %}</td>
                                <td>
                                    <div class="ui pagination mini menu">
                                        <a onclick="show_site({{site.id}});" class="popup icon show_site_btn item" data-content="View details">
                                            <i class="eye icon"></i>
                                        </a>
                                        <a onclick="edit_site({{site.id}});" class="popup icon edit_site_btn item" data-content="Edit this site">
                                            <i class="blue edit icon"></i>
                                        </a>
                                        <a onclick="delete_site({{site.id}});" class="popup icon delete_site_btn item" data-content="Delete this site">
                                            <i class="red trash icon"></i>
                                        </a>
                                        {%if site.siteType == 1 %}
                                            <a onclick="assign_node({{site.id}});" class="popup icon add_site_link_btn item" data-content="Assign a nodal site">
                                                <i class="yellow linkify icon"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {%endfor%} 

                    </tbody>
                    {%if total_pages>1 and total_pages >= page %}
                        <tfoot>
                            <tr><th colspan="8">
                                    <div class="ui right floated pagination mini menu">
                                        {%if page > 1 %}
                                            <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: page-1}))}}" class="icon item">
                                                <i class="left chevron icon"></i>
                                            </a>
                                        {% endif %}
                                        {% for i in start..end %}
                                            {% if i== page %}
                                                <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: i}))}}" class="active item">{{i}}</a>
                                            {% else %}
                                                <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: i}))}}" class="item">{{i}}</a>
                                            {% endif %}
                                        {% endfor %}
                                        {%if page <= total_pages-1 %}
                                            <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: page+1}))}}" class="icon item">
                                                <i class="right chevron icon"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    {% endif %}
                {%else%}
                    <tfoot>
                        <tr><th colspan="7">
                                <div class="center aligned">No site added at this moment</div>
                            </th>
                        </tr>
                    </tfoot>
                {%endif%}
            </table>
        </div>
    </div>
    {% block block_add_new %}
        <div class="ui small modal" id="add_site">
            <i class="close icon"></i>
            <div class="header">
                Add a site
            </div>
            <div class="content">
                {{ form_start(form, {'method': 'POST', 'action':  path('site_add'), 'attr': {'class': 'ui mini form', 'id': 'add_site_form'} }) }}
                <h4 class="ui dividing header">Site informations</h4>
                <div class="two fields">
                    <div class="ui field">
                        {{ form_label(form.tNumber,"T Number") }}
                        {{ form_widget(form.tNumber,{'attr':{'placeholder':"T Number", 'data-validate': 't-number'}})}}
                    </div>
                    <div class="ui field">
                        {{ form_label(form.siteName,"Nom") }}
                        {{ form_widget(form.siteName,{'attr':{'placeholder':"Site name", 'data-validate': 'site-name'}})}}
                    </div>
                </div>

                <div class="two fields">
                    <div class="ui field">
                        {{ form_label(form.latitude,"Latitude") }}
                        {{ form_widget(form.latitude,{'attr':{'placeholder':"Latitude", 'data-validate': 'site-latitude'}})}}
                    </div>
                    <div class="ui field">
                        {{ form_label(form.longitude,"Longitude") }}
                        {{ form_widget(form.longitude,{'attr':{'placeholder':"Longitude", 'data-validate': 'site-longitude'}})}}
                    </div>
                </div>

                <div class="two fields">
                    <div class="ui field">
                        {{ form_label(form.siteCity,"City") }}
                        {{ form_widget(form.siteCity,{'attr':{'placeholder':"City", 'data-validate': 'site-city'}})}}
                    </div>
                    <div class="ui field">
                        <label>Type</label>
                        <select class="ui fluid dropdown" name="site-type" data-validate="site-type">
                            <option value="">Select type of site</option>
                            <option value="1">E</option>
                            <option value="2">N</option>
                        </select>
                    </div>
                </div>
                <h4 class="ui dividing header">Site equipments</h4>
                <table class="ui very basic table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Cost(FCFA)</th>
                            <th>Lifetime(Year)</th>
                            <th class="right aligned">Action</th>
                        </tr>
                    </thead>
                    <tbody class="add-equipments" data-prototype="{{ forms.equipment_prototype(form.equipments.vars.prototype)|e }}">
                        {% for equipment in form.equipments %}
                            <tr>
                                {{ forms.equipment_prototype(equipment) }}
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% macro equipment_prototype(childForm) %}                
                        <td>{{ form_widget(childForm.equipmentName,{'attr':{'data-validate': 'equipment-name', 'placeholder': "Equipment name"}}) }}</td>
                        <td>{{ form_widget(childForm.cost,{'attr':{'data-validate': 'equipment-cost', 'placeholder': "Equipment cost"}}) }}</td>
                        <td>{{ form_widget(childForm.dureeVie,{'attr':{'data-validate': 'equipment-lifeDuration', 'placeholder': "Life duration"}}) }}</td>
                    {% endmacro %}
                </table>
                <div class="field">
                    <div id="server_error_message" class="ui small negative message" style="display:none">
                        <i class="close icon"></i>
                        <div id="server_error_content" class="header">Internal server error</div>
                    </div>
                    <div id="error_name_message" class="ui small error message" style="display: none">
                        <i class="close icon"></i>
                        <div id="error_name_header" class="header"></div>
                        <ul id="error_name_list" class="list">

                        </ul>
                    </div>
                </div>
                {{form_widget(form._token)}}
                </form>
            </div>
            <div class="actions">
                <a id="cancel_add_site" class="ui black deny mini button">Cancel</a>
                <a id="submit_site" class="ui yellow mini button">Save</a>
            </div>
        </div>
        <button id="add_site_btn" class="float_button circular ui huge yellow icon button" data-tooltip="Add a site" data-position="top center" data-inverted="">
            <i class="write icon"></i>
        </button>
    {% endblock %}

    {% block block_edit %}
        <div id="edit_site_content">

        </div>
    {% endblock %}
    {% block block_confirmation_modal %}
        <div id="confirm_delete_site" class="ui tiny modal">
            <i class="close icon"></i>
            <div class="header">
                Confirm delete
            </div>
            <div class="content">
                <p>You are about to delete this site. </p>
                <p>Do you really want to take this action?</p>
            </div>
            <div class="actions">
                <div class="ui red tiny deny button">
                    No
                </div>
                <div id="execute_delete_site" i class="ui green tiny right labeled icon button">
                    Yes
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/app/js/site.js')}}"></script>
    <script>
        function addEquipment_addForm($collectionEquipment_add, $newLinkTrAdd) {
            // Get the data-prototype explained earlier
            var prototype = $collectionEquipment_add.data('prototype');

            // get the new index
            var index = $collectionEquipment_add.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var $newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionEquipment_add.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a subscriber" link li
            var $newFormTr = $('<tr></tr>').append($newForm);
            $newLinkTrAdd.before($newFormTr);
            $('.ui.dropdown').dropdown({
                on: 'click'
            });
            addEquipment_addFormDeleteLink($newFormTr);
        }

        function addEquipment_addFormDeleteLink($subscriberFormTr) {
            var $removeFormA = $('<td class="right aligned"><div id="delete_Equipment" class="ui mini red compact icon button" data-tooltip="Delete" data-position="bottom center" data-inverted="" data-variation="mini"><i class="trash icon"></i></div></td>');
            $subscriberFormTr.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the subscriber form
                $subscriberFormTr.remove();
            });
        }

        var $collectionEquipment_add;

        // setup an "add a subscriber" link
        var $addEquipment_addLink = $('<div id="add_Equipment" class="ui mini yellow button" ><i class="plus icon"></i> Add</div>');
        var $newLinkTrAdd = $('<tr></tr>').append($addEquipment_addLink);

        jQuery(document).ready(function () {
            /******** suppression des equipments *********/
            // Get the ul that holds the collection of equipments
            $collectionEquipment_add = $('tbody.add-equipments');

            // add a delete link to all of the existing subscriber form li elements
            $collectionEquipment_add.find('tr').each(function () {
                addEquipment_addFormDeleteLink($(this));
            });


            /******** Ajout des equipments *********/

            // Get the ul that holds the collection of equipments
            $collectionEquipment_add = $('tbody.add-equipments');

            // add the "add a subscriber" anchor and li to the equipments ul
            $collectionEquipment_add.append($newLinkTrAdd);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionEquipment_add.data('index', $collectionEquipment_add.find(':input').length);

            $addEquipment_addLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new subscriber form (see next code block)
                addEquipment_addForm($collectionEquipment_add, $newLinkTrAdd);
            });
        });
    </script>
{% endblock %}