<header>
    <div class="ui inverted mini menu top_menu">
        <div class="ui container header_container">
            <a class="toc item" style="display: none;"><i class="large sidebar icon"></i></a>
            <a href="{{path('map_home')}}" class="item">
                <img src="{{asset('bundles/app/images/logo.PNG')}}">
            </a>

            <div class="ui right inverted mini menu">

                <div id="lang_select" class="ui top right pointing dropdown item">
                    <i class="user icon"></i>
                    <span ></span><i class="dropdown icon" style="margin-left: 0;"></i>
                    <div class="menu">
                        <a href="{{path('view_profile')}}" class="item" data-value="ao" >
                            My profile
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{path('register_new_user_get')}}" class="item" data-value="fr">
                                New user
                            </a>
                        {% endif %}
                        <a href="{{ path('fos_user_security_logout') }}" class="item" data-value="fr">
                            log out
                        </a>
                    </div>
                </div>
                <div id="lang_select" class="ui top right pointing dropdown item">
                    <i class="setting icon"></i>
                    <span ></span><i class="dropdown icon" style="margin-left: 0;"></i>
                    <div class="menu">
                        <a href="#" class="item" data-value="gb">
                            About
                        </a>
                        <a href="#" class="item" data-value="ao" >
                            Help
                        </a>
                        
                    </div>
                </div>
                <div id="lang_select" class="ui top right pointing dropdown item">
                    <i class="world icon"></i>
                    <span ></span><i class="dropdown icon" style="margin-left: 0;"></i>
                    <div class="menu">
                        <a href="3" class="item" data-value="fr" style="text-align: center;">
                            <i class="fr flag" style="margin-right: 0;"></i>
                        </a>
                        <a href="3" class="item" data-value="fr" style="text-align: center;">
                            <i class="gb flag" style="margin-right: 0;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>