{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

    {% include('sidebar.html.twig') %}
    <div class="pusher">
        {% include('header.html.twig') %}
        <div id="message_success" class="ui mini success message" style="position: fixed; top: 6em; right: 42em; left: auto; z-index: 5; width: 28em; display: none">
            <i class="close icon"></i>
            <div class="header"></div>
        </div>

        <div id="message_error" class="ui mini error message" style="position: fixed; top: 6em; right: 42em; left: auto; z-index: 5; width: 28em; display: none">
            <i class="close icon"></i>
            <div class="header"> </div>
        </div>

        <div id="message_loading" class="ui mini icon message" style="position: fixed; top: 6em; right: 42em; left: auto; z-index: 5; width: 20em; display: none;">
            <i class="notched circle loading mini icon"></i>
            <div class="content">
                <div class="header">Traitement encours... </div>
            </div>
        </div>
        <div class="ui divided doubling stackable grid segment page_content">
            <div class='row'>
                <div class="four wide column">
                    <div class="ui inverted vertical menu">
                        <a class="item {% block active_item_map %}{% endblock %}" href="{{path('map_home')}}">
                            <i class="map icon" ></i>
                            <span>Map</span>
                        </a>
                        <a id="sites_menu" class="item {% block active_item_sites %}{% endblock %}" href="{{path('sites_home')}}">
                            <i class="podcast icon" ></i>
                            <span>Sites</span>
                        </a>
                        <a id="links_menu" class="item {% block active_item_links %}{% endblock %}" href="{{path('links_home')}}">
                            <i class="linkify icon"></i>
                            <span>Links</span>
                        </a>
                        <a id="interferences_menu" class="item {% block active_item_interferences %}{% endblock %}" href="{{path('interferences_home')}}">
                            <i class="wifi icon"></i>
                            Interferences
                        </a>
                        <a class="item {% block active_item_capex %}{% endblock %}" href="{{path('capex_home')}}">
                            <i class="wifi icon"></i>
                            <span>
                                CAPEX
                            </span>
                        </a>
                        <a class="item {% block active_item_opex %}{% endblock %}" href="{{path('opex_home')}}">
                            <i class="wifi icon"></i>
                            <span>
                                OPEX
                            </span>
                        </a>

                    </div>
                </div>
                <div class="twelve wide column">
                {% block content %}{% endblock content %}
            </div>

        </div>
    </div>

    {% include('footer.html.twig') %}
</div>

{% endblock body %}